body {
    background-color: #2b282b;
    background-image: url(images/icons/Herta-Splash.webp);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: 100%;
    background-position: 45px 105px;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
}

body.true-herta {
    background-image: url(images/icons/true-herta-splash.webp);
    background-size: 135%;
    background-position: 50% -315px;
}

@font-face {
    font-family: 'DIN';
    src: url('DIN-font/DIN.ttf');
}

@font-face {
    font-family: 'DIN Medium';
    src: url('DIN-font/DIN\ Medium.ttf');
}

#github-header {
    text-align: right;
    padding: 12px 12px 0px 0px;
}

#title {
    text-align: center;
    font-size: 50px;
    color: #FFF4FF;
    font-family: 'DIN Medium', monospace;
}

#subtitle {
    font-size: 20px;
    color: #c9c4c9;
    font-family: 'DIN', monospace;
    margin-left: clamp(10px, 15vw, 200px);
    margin-right: clamp(10px, 15vw, 200px);
}

.chosen-grid {
    margin-top: 35px;
    height: 250px;
}

.chosen-chars {
    display: flex;
    justify-content: center;
    align-items: baseline;
    max-width: 1280px;
    flex-wrap: wrap;
}

.chosen-card {
    display: inline-block;
}

.sel-char {
    margin: 10px 15px;
    border-bottom-left-radius: 35%;
    border-top-right-radius: 35%;
    background-color: #00000080;
    box-shadow: rgba(128, 0, 128, 0.1) 0px 0px 0px 2px;
}

.chosen-title {
    color: #FFF4FF;
    font-family: 'DIN', monospace;
    font-size: 20px;
    width: 200px;
    word-wrap: break-word;
}

.buttons {
    margin-top: 35px;
    margin-bottom: 35px;
}

#randomize-button {
    font-size: 27px;
    font-family: 'DIN', monospace;
    color: #FFF4FF;
    text-align: center;
    width: 175px;
    height: 55px;
    background-image: linear-gradient(#7a39ef, #b629e0);
    border: 0px;
    border-radius: 7px;
    transition: .35s ease all;
    cursor: pointer;
    margin-top: 25px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#randomize-button::after, #randomize-button::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff0000, #0000ff, #ff0000);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 7px;
    animation: 3.5s spin linear infinite;
}

@keyframes spin{
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

#randomize-button::before {
    filter: blur(1.5rem);
}

#randomize-button:hover {
    background-color: #8344f9;
    box-shadow: 0px 0px 25px #bf21bf;
    transition: .35s ease all;
}

#randomize-button:active {
    background-color: #5b25be;
    background-image: linear-gradient(#672ad8, #9f1bc7);
}

#toggle-all {
    font-size: 23px;
    font-family: 'DIN', monospace;
    color: #111111;
    padding: 7px;
    background-color: #f1ecf7;
    border: 3px solid #800080;
    border-radius: 7px;
    transition: .35s ease all;
    cursor: pointer;
    margin-top: 45px;
}

#toggle-all:hover {
    background-color: #d6cfdf;
    transition: .35s ease all;
}

#toggle-all:active {
    background-color: #adadc8;
}

#filter-elements, #filter-paths {
    display: inline-block;
    margin-left: min(10px, 3vw);
    margin-right: min(10px, 3vw);
    margin-top: 10px;
}

.filters {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 2px solid #c6a662;
    background-color: #0b0d01;
    border-radius: 7px;
    filter:brightness(50%);
}

.filters:hover {
    background-color: #8c8c8ce5;
    border: 2px solid #f5c355;
}

.filters.active {
    filter:brightness(100%);
}

#destruction-filter, #hunt-filter, #erudition-filter, #harmony-filter,
#nihility-filter, #preservation-filter, #abundance-filter, #remembrance-filter {
    width: 35px;
    height: 35px;
    padding: 5px;
}

#scroll-top {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 3vw;
    right: 3vw;
    transform: rotate(-90deg);
    background-color: #211f21;
    border: 1px solid #c6a662;
    border-radius: 50%;
    height: auto;
    width: min(50px, 10vw);
    padding: min(7px, 3vw);
}

#scroll-top:hover {
    box-shadow: 0px 0px 10px #c6a662;
}

#popup {
    background-color: #211f21;
    color: #d5c4a0;
    border-left: 0px;
    border-right: 3px solid #d5c4a0;
    border-top: 3px solid #d5c4a0;
    border-bottom: 3px solid #d5c4a0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: monospace;
    font-size: 35px;
    padding: 35px 15px;
    cursor: pointer;
    position: fixed;
    left: 0px;
    top: 45%;
    margin-left: 0px;
    transition: 0.5s;
    z-index: 2;
}

#popup:hover {
    border-right: 3px solid #c6a662;
    border-top: 3px solid #c6a662;
    border-bottom: 3px solid #c6a662;
    box-shadow: 7px 0px 12px -5px #ceb682;
    color: #c6a662;
}

/*When pop-up is hovering, side-menu border color changes */
#popup:hover + #side-menu {
    border-right: 3px solid #c6a662;
    box-shadow: 0px 0px 12px #ceb682;
}

#popup.active {
    margin-left: 280px;
}

#side-menu {
    color: #FFF4FF;
    font-family: 'DIN', monospace;
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #211f21;
    border-right: 3px solid #2b282b;
    overflow-x: hidden;
    transition: 0.5s;
}

#side-menu.active {
    border-right: 3px solid #d5c4a0;
    width: 280px;
}

.character-grid {
    margin: 0px 8px;
}

.character-card {
    display: inline-block;
    cursor: pointer;
    margin: 5px 3px;
    padding: 0px;
    border: none;
    border-top-right-radius: 30px;
    background-color: #737480;
    width: 140px;
}

.character-card:hover {
    box-shadow: 0px 0px 3px 3px #6EE0B6;
}

.character-card.lit-up {
    background-color: #ffffff;
}

.character-card.lit-up:hover {
    box-shadow: 0px 0px 0px 3px #C197FF;
}

.character-card.lit-up .character-name {
    color: #2b272b;
}

.character-card.lit-up .a4star-character-icon {
    filter:brightness(100%);
}

.character-card.lit-up .a5star-character-icon {
    filter:brightness(100%);
}

.a4star-character-icon {
    background-color: #795ca4;
    background-image: url(images/icons/4-star-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-blend-mode: overlay;
    filter:brightness(50%);
    position: relative;
    border-top-right-radius: 30px;
    height: 142px;
}

.a5star-character-icon {
    background-color: #c69059;
    background-image: url(images/icons/5-star-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    background-blend-mode: overlay;
    filter:brightness(50%);
    position: relative;
    border-top-right-radius: 30px;
    height: 142px;
}

.char-face {
    width: 140px;
    height: 140px;
    border-top-right-radius: 30px;
}

.element-icon {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 28px;
    width: 28px;
}

.path-icon {
    position: absolute;
    left: 6px;
    top: 35px;
    height: 20px;
    width: 20px;
    background-color: #00000059;
    padding: 3px;
    border-radius: 50%;
}

.character-name {
    font-size: 18px;
    padding: 5px 5px;
    font-family: 'DIN Medium', monospace;
    color: #151515;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.updatelog {
    position: relative;
    margin-top: 35px;
    display: flex;
}

#star {
    position: absolute;
    top: 10%;
    left: 50%; /* Align the overlay horizontally in the middle */
    transform: translate(-50%, -50%); /* Center the overlay */
    z-index: -1;
    width: 95vw;
    height: auto;
    opacity: 0.5;
}

.update-text {
    margin-top: 50px;
    margin-right: 5px;
    color: #FFF4FF;
    font-family: 'DIN', monospace;
    font-size: 20px;
}

.features-text {
    font-size: 25px;
    padding: 3px 0px 3px 6px;
    border-left: 6px solid #7b3193;
    border-bottom-left-radius: 15px;
    background-color: #8f6ea95b;
    box-shadow: 0px 0px 15px #8080ff80;
}

.version-date {
    padding: 3px 0px 3px 6px;
    border-left: 6px solid #7b3193;
    background-color: #8f6ea95b;
}

#changelog-button, #settings-button {
    cursor: pointer;
    margin: 0px;
    padding: 15px 0px;
}

#changelog-button:hover, #settings-button:hover {
    background-color: #2d2c2d;
}

#changelog, #settings {
    opacity: 0;
    background-color: #00000059;
    position: fixed;
    color: #FFF4FF;
    font-family: 'DIN', monospace;
    font-size: 20px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
}

#changelog.open, #settings.open {
    z-index: 2;
    opacity: 1;
}

#changelog-inner, #settings-inner {
    background-color: #0000000c;
    backdrop-filter: blur(7px) saturate(135%);
    -webkit-backdrop-filter: blur(7px) saturate(135%);
    box-shadow: 0 4px 30px #C197FF;
    height: 85%;
    width: min(450px, 80vw);
    border-radius: 35px;
    border: solid 1px #C197FFB2;
    padding: 0px 5px 15px 5px;
    position: relative;
}

#changelog-header, #settings-header {
    margin: 0px;
    padding: 20px 0px;
    text-align: center;
    font-size: 25px;
    border-bottom: solid 2px #C197FF;
}

#close-changelog, #close-settings {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer; 
}

#changelog-list, #settings-list {
    overflow: scroll;
    height: 85%;
    padding: 0px 20px;
}

#settings-list {
    padding: 5px 0px 0px 0px;
}

#bg-changer {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #C197FF2e;
    padding-left: 20px;
}

#bg-changer-button {
    background-color: #80008059;
    border: 0px;
    color: #FFF4FF;
    cursor: pointer;
    font-family: 'DIN', monospace;
    font-size: 20px;
}

#copyright {
    color: #FFF4FF;
    font-family: 'DIN', monospace;
    font-size: 12px;
    text-align: end;
    margin: 35px 8px 8px 0px;
}

.board {
    background-color: #211f21;
    border-radius: 7px;
    border: 1px solid #c6a662;
    padding: 5px;
}

.board p {
    margin: 0px;
}

#poll:link, #poll:visited {
    color: #FFF4FF;
}

#alt-board {
    margin: 5px 5px 0px 5px;
}

::selection {
    background: #e684e662
}

@media screen and (max-width: 1050px) {
    body {
        background-size: 110%;
        background-position: -5px 135px;
    }

    body.true-herta {
        background-size: 155%;
        background-position: 50% -245px;
    }

    .herta {
        height: 360px;
        width: 360px;
    }

    #star {
        width: 100vw;
        top: 30%;
    }

    .update-text {
        margin-top: 35px;
        font-size: 18px;
    }

    .features-text {
        font-size: 22px;
    }

    #side-menu {
        font-size: 18px;
    }

    .chosen-grid {
        height: auto;
    }

    .sel-char {
        height: 150px;
        width: 150px;
        margin: 0px 7px;
    }

    .chosen-title {
        font-size: 18px;
        width: 180px;
    }

    #title {
        font-size: 47px;
    }

    #subtitle {
        font-size: 18px;
    }

    #randomize-button {
        margin-top: 0px;
        font-size: 25px;
    }

    #toggle-all {
        font-size: 20px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-size: 200%;
        background-position: 45% 50px;
    }

    body.true-herta {
        background-size: 235%;
        background-position: 50% -350px;
    }

    .herta {
        height: auto;
        width: 100%;
    }

    .updatelog {
        display: block;
        overflow: hidden;
    }

    #star {
        width: 175vw;
        top: 50%;
    }


    .update-text {
        margin-top: 0px;
        font-size: 16px;
    }

    .features-text {
        margin-top: 0px;
        font-size: 20px;
    }

    .character-card {
        width: 105px;
        border-top-right-radius: 20px;
    }

    .a4star-character-icon, .a5star-character-icon {
        height: 107px;
        border-top-right-radius: 20px;
    }

    .char-face {
        height: 105px;
        width: 105px;
        border-top-right-radius: 20px;
    }

    .element-icon {
        height: 20px;
        width: 20px;
    }

    .path-icon {
        height: 16px;
        width: 16px;
        top: 25px;
        padding: 1px;
    }

    .character-name {
        font-size: 14px;
        padding: 3px 3px;
    }

    #side-menu {
        font-size: 16px;
    }

    .sel-char {
        height: 125px;
        width: 125px;
        margin: 0px 5px;
    }

    .chosen-title {
        font-size: 14px;
        width: 140px;
    }

    #title {
        font-size: 40px;
    }

    #subtitle {
        font-size: 15px;
    }

    #randomize-button {
        font-size: 25px;
    }
    
    #toggle-all {
        font-size: 18px;
        margin-top: 25px;
    }
}

@media screen and (max-width: 570px) {
    body {
        background-position: 45% 175px;
    }

    body.true-herta {
        background-position: 50% -35px;
    }
    
    .sel-char {
        height: auto;
        width: clamp(125px, 30vw, 175px);
    }

    .chosen-card {
        margin: 0px 10px;
    }

    .chosen-title {
        font-size: clamp(14px, 3vw, 17px);
        width: clamp(135px, 35vw, 200px);
    }

    .character-grid {
        margin: 0px 5px;
    }

    .character-card {
        width: 75px;
        border-top-right-radius: 15px;
    }

    .a4star-character-icon, .a5star-character-icon {
        height: 77px;
        border-top-right-radius: 15px;
    }

    .char-face {
        height: 75px;
        width: 75px;
        border-top-right-radius: 15px;
    }

    .element-icon {
        height: 18px;
        width: 18px;
        top: 3px;
        left: 3px;
    }

    .path-icon {
        height: 14px;
        width: 14px;
        top: 22px;
        left: 4px;
        padding: 1px;
    }

    .character-name {
        font-size: 12px;
        padding: 3px 1px;
    }

    #star {
        width: 205vw;
        top: 50%;
    }

    #popup {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        font-family: monospace;
        font-size: 25px;
        padding: 25px 10px;
    }

    #changelog, #settings {
        font-size: 17px;
    }

    #changelog-header, #settings-header {
        font-size: 20px;
    }

    #bg-changer-button {
        font-size: 17px;
    }
}
